// Font family variables
$font-rammetto: "Rammetto One", cursive;
$font-open-sans: "Open Sans", sans-serif;

// Font weight variables
$weight-regular: 400;
$weight-bold: 700;

// Font style variables
$style-normal: normal;
$style-italic: italic;
