// VARIABLES & MIXINS
@use "./partials/colors" as c;
@use "./partials/fonts" as f;
@use "./partials/mixins" as m;

// PAGE SECTIONS
@use "./partials/header";
@use "./partials/hero";
@use "./partials/menu";
@use "./partials/reviews";
@use "./partials/footer";
@use "./partials/contact";

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

// // CONTACT PAGE
// .contact {
//   .contact__container {
//     display: flex;
//   }
//   .contact__item {
//     margin-top: 0.5em;
//   }
//   .contact__label {
//     font-style: f.$font-rammetto;
//     color: #fff;
//   }
//   .contact__form-list {
//     list-style: none;
//     margin-right: 0;
//     padding: 0;
//   }
//   .contact__label {
//     margin-top: 5em;
//   }
//   .contact__button {
//     @include m.button;
//     border-radius: 5px;
//   }
// }
