@use "./partials/colors" as c;
@use "./partials/fonts" as f;

// section {
//   display: flex;
// }

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
// HEADER
.header {
  display: flex;
  margin-top: 1em;
  padding: 0 5em;
  justify-content: space-between;
  align-items: center;
  width: 90vw;

  .header__icon {
    color: c.$peach-amber;
    font-size: 2em;
    transform: scaleX(-1);
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    width: 20%;

    .header__link {
      font-size: 0.75em;
      font-weight: f.$weight-bold;
      color: c.$bauhaus;
      text-decoration: none;
    }
  }
}

.section {
  margin-top: 1em;
}

// HERO
.hero {
  display: flex;

  .hero__item {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero__inner {
    width: 70%;
  }
  .hero__left {
    background-color: c.$spring-forest;
    color: #fff;
  }
  .hero__button {
    margin-top: 1.5em;
    padding: 12px 36px;
    color: #fff;
    font-weight: f.$weight-bold;
    background-color: c.$spring-forest;
    border: 2px solid #fff;
  }

  .hero__title {
    font-family: f.$font-rammetto;
    font-size: 2.75em;
  }
  .hero__tagline {
    font-family: f.$font-open-sans;
    font-weight: f.$weight-regular;
  }
  .hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
// MENU
.menu {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  font-family: f.$font-open-sans;
  color: c.$bauhaus;

  .menu__title {
    font-family: f.$font-rammetto;
    color: c.$peach-amber;
    text-align: center;
    font-weight: f.$weight-bold;
    font-size: 2.25em;
  }
  .menu__summary {
    padding: 0.5em 1.5em;
    background-color: c.$fairy-floss;
    font-family: f.$font-open-sans;
    color: c.$bauhaus;
    font-weight: f.$weight-bold;
  }
  .menu__container {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .menu__card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 30%;
    height: 420px;
    background-color: c.$fairy-floss;
  }
  .menu__image {
    max-width: 90%;
    height: auto;
    padding: 15px 5px 20px;
  }
  .menu__tags {
    margin-top: 1em;
    font-size: 0.75em;
    text-align: center;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }

  .menu__icons {
    color: c.$spring-forest;
    font-weight: f.$weight-bold;
  }
}
// REVIEWS
.reviews {
  background-color: c.$peach-amber;

  .reviews__heading {
    padding-top: 1em;
    font-family: f.$font-rammetto;
    color: #fff;
    text-align: center;
  }
  .reviews__container {
    display: flex;
    margin: 0 5em;
    padding: 2em;
    font-family: f.$font-open-sans;
  }
  .reviews__card {
    margin: 0 2em;
    padding: 1em;
    border: 2px solid#fff;
  }

  .reviews__top {
    display: flex;
    font-weight: f.$weight-bold;
    font-style: f.$style-italic;
    font-size: 0.75em;
  }
  .reviews--padding {
    padding: 0 10px;
    text-align: center;
  }
  // .reviews__quote--right {
  // }
  .reviews__bottom {
    display: flex;
    padding: 0 0.75em;
    justify-content: space-between;
    font-size: 0.5em;
  }
}
// FOOTER
.footer {
  display: flex;
  padding: 1.5em 10%;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: c.$track-green;
  font-family: f.$font-open-sans;
  font-size: 0.75em;
  color: #fff;
  .footer__icon {
    font-size: 2em;
  }
  .footer__icon--cup {
    transform: scaleX(-1);
  }
}
