@use "./partials/colors" as c;
@use "./partials/fonts" as f;

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
// HEADER
.header {
  display: flex;
  margin-top: 1em;
  padding: 0 5em;
  justify-content: space-between;
  align-items: center;
  width: 90vw;

  .header__logo {
    color: c.$peach-amber;
    font-size: 2em;
    transform: scaleX(-1);
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    width: 20%;

    .header__nav-link {
      font-size: 0.75em;
      font-weight: f.$weight-bold;
      color: c.$bauhaus;
      text-decoration: none;
    }
  }
}

// HERO
.hero {
  display: flex;
  margin-top: 1em;
  height: 90vh;

  .hero__content {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: c.$spring-forest;
    color: #fff;
  }
  .hero__inner {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .hero__button {
    margin-top: 1.5em;
    padding: 12px 36px;
    width: 40%;
    height: auto;
    color: #fff;
    font-family: f.$font-open-sans;
    font-size: 1em;
    font-weight: f.$weight-bold;
    background-color: c.$spring-forest;
    border: 3px solid #fff;
  }

  .hero__title {
    font-family: f.$font-rammetto;
    font-size: 2.75em;
  }
  .hero__tagline {
    font-family: f.$font-open-sans;
    font-weight: f.$weight-regular;
  }
  .hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
// MENU
.menu {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  padding: 0 10%;

  font-family: f.$font-open-sans;
  color: c.$bauhaus;

  .menu__title {
    font-family: f.$font-rammetto;
    color: c.$peach-amber;
    text-align: center;
    font-weight: f.$weight-bold;
    font-size: 2.25em;
  }
  .menu__category {
    margin-top: 1.5em;
  }
  .menu__summary {
    padding: 0.5em 1.5em;
    background-color: c.$fairy-floss;
    font-family: f.$font-open-sans;
    color: c.$bauhaus;
    font-weight: f.$weight-bold;
  }
  .menu__list {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .menu__item {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 30%;
    height: 420px;
    background-color: c.$fairy-floss;
  }
  .menu__item-image {
    max-width: 90%;
    height: auto;
    padding: 15px 5px 20px;
  }
  .menu__item-tags {
    margin-top: 1em;
    font-size: 0.75em;
    text-align: center;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }

  .menu__icon {
    color: c.$spring-forest;
    font-weight: f.$weight-bold;
  }
}
// REVIEWS
.reviews {
  height: 80vh;
  background-color: c.$peach-amber;
  margin-top: 2em;

  .reviews__title {
    padding-top: 1em;
    font-family: f.$font-rammetto;
    font-size: 2.5em;
    color: #fff;
    text-align: center;
  }
  .reviews__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 5em;
    padding: 0.5em;
    font-family: f.$font-open-sans;
    color: c.$bauhaus;
  }
  .reviews__item {
    width: 45%;
    margin: 0.5em;
    padding: 1em;
    border: 2px solid#fff;
  }
  .reviews__quote {
    display: flex;
  }
  .reviews__text {
    padding: 0 10px;
    text-align: center;
    font-weight: f.$weight-bold;
    font-style: f.$style-italic;
    font-size: 1em;
  }
  // .reviews__quote-icon--right {
  // }
  .reviews__meta {
    display: flex;
    margin-top: 1em;
    padding: 0 0.75em;
    justify-content: space-between;
    font-size: 0.75em;
  }
}
// FOOTER
.footer {
  display: flex;
  padding: 1.5em 10%;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: c.$track-green;
  font-family: f.$font-open-sans;
  font-size: 1em;
  color: #fff;
  .footer__icon {
    font-size: 2.25em;
    color: #fff;
  }
  .footer__icon--cup {
    transform: scaleX(-1);
  }
}

// CONTACT PAGE
.contact {
  .contact__container {
    display: flex;
  }
  .contact__item {
    margin-top: 0.5em;
  }
  .contact__label {
    font-style: f.$font-rammetto;
    color: #fff;
  }
  .contact__form-list {
    list-style: none;
    margin-right: 0;
    padding: 0;
  }
  .contact__label {
    margin-top: 5em;
  }
  .contact__button {
    padding: 0.5em 1em;
    background-color: c.$peach-amber;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
}
