.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  padding: 0 5em;
  width: 90vw;
}
.header__logo {
  color: #faa196;
  font-size: 2em;
  transform: scaleX(-1);
}
.header__nav {
  display: flex;
  flex-direction: center;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
.header__nav__nav-link {
  font-size: 0.75em;
  font-weight: 700;
  color: #404040;
  text-decoration: none;
}

.hero {
  display: flex;
  margin-top: 1em;
  height: 90vh;
}
.hero__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  background-color: #689572;
  color: #fff;
}
.hero__inner {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.hero__button {
  padding: 0.5em 1em;
  background-color: #689572;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border: 3px solid #fff;
  text-align: center;
  cursor: pointer;
  margin-top: 1.5em;
  width: 40%;
  height: auto;
  font-size: 1em;
}
.hero__title {
  font-family: "Rammetto One", cursive;
  font-size: 2.75em;
}
.hero__tagline {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  padding: 0 10%;
  font-family: "Open Sans", sans-serif;
  color: #404040;
}
.menu__title {
  font-family: "Rammetto One", cursive;
  color: #faa196;
  text-align: center;
  font-weight: 700;
  font-size: 2.25em;
}
.menu__category {
  margin-top: 1.5em;
}
.menu__summary {
  padding: 0.5em 1.5em;
  background-color: #ebc9c4;
  font-family: "Open Sans", sans-serif;
  color: #404040;
  font-weight: 700;
}
.menu__list {
  display: flex;
  flex-direction: center;
  justify-content: normal;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
  gap: 20px;
}
.menu__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 420px;
  background-color: #ebc9c4;
}
.menu__item-image {
  max-width: 90%;
  height: auto;
  padding: 15px 5px 20px;
}
.menu__item-tags {
  margin-top: 1em;
  font-size: 0.75em;
  text-align: center;
}
.menu__icon {
  color: #689572;
  font-weight: 700;
}

.reviews {
  height: 80vh;
  background-color: #faa196;
  margin-top: 2em;
}
.reviews__title {
  padding-top: 1em;
  font-family: "Rammetto One", cursive;
  font-size: 2.5em;
  color: #fff;
  text-align: center;
}
.reviews__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 5em;
  padding: 0.5em;
  font-family: "Open Sans", sans-serif;
  color: #404040;
}
.reviews__item {
  width: 45%;
  margin: 0.5em;
  padding: 1em;
  border: 2px solid #fff;
}
.reviews__quote {
  display: flex;
}
.reviews__text {
  padding: 0 10px;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  font-size: 1em;
}
.reviews__meta {
  display: flex;
  flex-direction: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  padding: 0 0.75em;
  font-size: 0.75em;
}

.footer {
  display: flex;
  flex-direction: center;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 10%;
  width: 100vw;
  background-color: #82a289;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #fff;
}
.footer__icon {
  font-size: 2.25em;
  color: #fff;
}
.footer__icon--cup {
  transform: scaleX(-1);
}

.contact {
  display: flex;
  margin-top: 1em;
  height: 90vh;
}
.contact__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  background-color: #689572;
  color: #fff;
}
.contact__inner {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.contact__title {
  font-family: "Rammetto One", cursive;
  font-size: 2.75em;
}
.contact__container {
  display: flex;
  width: 50%;
  height: auto;
  background-color: #689572;
  color: #fff;
}
.contact__tagline {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.contact__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact__form-list {
  list-style: none;
  margin-right: 0;
  padding: 0;
}
.contact__item {
  margin-top: 0.5em;
}
.contact__label {
  margin-top: 5em;
}
.contact__button {
  padding: 0.5em 1em;
  background-color: #689572;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border: 3px solid #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
